	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
		background: #1d1d26;
		font-family: "Gill Sans", sans-serif;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	.container {
		max-width: 750px;
		margin-top: 10px;
		background: #202128;
		box-shadow: 0 1px 20px 0 rgb(0 0 0 / 20%);
		border-radius: 6px;
		padding-bottom: 100px;
	}
	.colimg{
		background: #bbb;
	}
	div.rightbtn button{
		display: block;
	}
	.img-fluid{
		width: 650px;
	}
	.com-sm p{
		font-family: "Gill Sans", sans-serif;
	}
	.overflow-auto{
		width: 650px;
		background: white;
	}
	.button-tgle a{
		text-decoration: none;
		color: #fff;
	}
	.button-tgle button{
		width: 100%;
	}
	.bg-soft{
		background: #ebebeb;
		border-radius: 8px;
	}
	.button-29 {
	  align-items: center;
	  appearance: none;
	  background: #5468ff;
	  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	  border: 0;
	  border-radius: 3px;
	  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	  box-sizing: border-box;
	  color: #fff;
	  cursor: pointer;
	  display: inline-flex;
	  font-family: "JetBrains Mono",monospace;
	  height: 38px;
	  justify-content: center;
	  line-height: 1;
	  list-style: none;
	  overflow: hidden;
	  position: relative;
	  text-align: left;
	  text-decoration: none;
	  transition: box-shadow .15s,transform .15s;
	  user-select: none;
	  -webkit-user-select: none;
	  touch-action: manipulation;
	  white-space: nowrap;
	  will-change: box-shadow,transform;
	  font-size: 15px;
	  margin-right: 6px;
	  margin-top: 2px;
	  margin-bottom: 6px;
	}
	.button-29:focus {
	  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	}

	.button-29:hover {
	  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	  transform: translateY(-2px);
	}
	.button-29:active {
	  box-shadow: #3c4fe0 0 3px 7px inset;
	  transform: translateY(2px);
	}
	.button-28 {
	  align-items: center;
	  appearance: none;
	  background: #ff9400;
	  background-image: radial-gradient(100% 100% at 100% 0, #FFF300 0, #ff9400 100%);
	  border: 0;
	  border-radius: 3px;
	  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	  box-sizing: border-box;
	  color: #fff;
	  cursor: pointer;
	  display: inline-flex;
	  font-family: "JetBrains Mono",monospace;
	  height: 38px;
	  justify-content: center;
	  line-height: 1;
	  list-style: none;
	  overflow: hidden;
	  position: relative;
	  text-align: left;
	  text-decoration: none;
	  transition: box-shadow .15s,transform .15s;
	  user-select: none;
	  -webkit-user-select: none;
	  touch-action: manipulation;
	  white-space: nowrap;
	  will-change: box-shadow,transform;
	  font-size: 15px;
	  margin-left: 6px;
	  margin-top: 2px;
	  margin-bottom: 6px;
	}
	.button-28:focus {
	  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	}

	.button-28:hover {
	  box-shadow: rgb(45 35 66 / 40%) 0 4px 8px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #a94600 0 -3px 0 inset;
	  transform: translateY(-2px);
	}

	.button-28:active {
	  box-shadow: #3c4fe0 0 3px 7px inset;
	  transform: translateY(2px);
	}
	a#tblplay {
		width: 50%;
	}
	button#tblplayab {
		width: 50%;
	}